<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="creativebrands.kazziworker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name="creativebrands.kazziworker.WebViewPackage.WebViewActivity"></activity>
        <activity android:name="creativebrands.kazziworker.Settings.SettingsActivity" />
        <activity android:name="creativebrands.kazziworker.fragments.acceptedRequests.AcceptedTaskInfo" />
        <activity android:name="creativebrands.kazziworker.MainActivity" />

        <service android:name="creativebrands.kazziworker.LoginPackage.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="creativebrands.kazziworker.LoginPackage.firebase.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="creativebrands.kazziworker.IntroSlider.WelcomeActivity"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="creativebrands.kazziworker.splashScreen.SplashScreenActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="creativebrands.kazziworker.LoginPackage.LoginActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name="creativebrands.kazziworker.fragments.PendingRequests.PendingInfo" />

        <service android:name="creativebrands.kazziworker.FCMMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


    </application>

</manifest>